.album-box{
  width: 100%;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.album-box img {
  margin-top: 20px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-bottom: 10px;
  box-shadow: 0 10px 20px plum;
}
.album-box span{
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}
.album-name{
  font-size: 20px;
}
.album-singer{
  font-size: 13px;
  opacity: 0.3;
}
.album-btns{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
.album-btns span{
  display: block;
  font-weight: 510;
  font-size: 13px;
  background-color: black;
  color: white;
  padding: 10px 15px 25px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0,0.05);
}
.album-btns span:last-child{
  background-color: white;
  color: red;
}