ul{
  width: 100%;
  padding: 0 15px;
}
ul img{
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin-right: 20px;
}
li {
  display: flex;
  margin-bottom: 8px;
  box-shadow: 0 10px 20px rgb(0, 0, 0,0.05);
  padding: 10px 15px;
  align-items: center;
  position: relative;
}
.music-info{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.music-info span:first-child{
  font-size: 15px;
  font-weight: 600;
  margin-bottom: 7.5px; 
}
.music-info span:last-child{
  font-size: 12px;
  font-weight: 600;
  opacity: 0.3;
}
li i {
  display: flex;
  position: absolute;
  right: 15px;
  opacity: 0.3;
}
.music-player {
  background-color: black;
  padding: 10px 20px;
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
} 
.now-playing{
  display: flex;
  flex-direction: column;

}
.now-playing span:first-child{
  color: white;
  font-size: 12px;
  opacity: 0.5;
  margin-bottom: 5px;
  
}
.now-playing span:last-child{
  color: white;
  font-size: 15px;
}
.music-ctrbox{
  color: white;
}
.music-ctrbox i{
  margin-right: 20px;
}